@import "../../components";

.wrapper {
	padding: 10em 1em;
	min-height: 100vh;

	@media (max-width: 520px) {
		padding: 8em 2em 2.5em;
	}

	.component-title {
		text-align: center;
		width: 100%;
		font-weight: 700;
	}

	.component-container {
		margin-top: 3em;
	}
}
